<div class="w-full flex items-center justify-center h-[100vh]">

  <div class="flex flex-col gap-[50px] flex-1 ml-[10%]">
    <h1 class="text-2xl font-bold">Cadastrar Usuário</h1>
    <form [formGroup]="registerForm" (ngSubmit)="upload()">
      <div class="flex flex-row wrap gap-[50px]">
        <div class="flex flex-col">
          <label>Username</label>
          <input
            formControlName="username"
            class="text-sm sm:text-base placeholder-gray-500 pl-2 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" />
        </div>
        <div class="flex flex-col">
          <label>Email</label>
          <input
            formControlName="email"
            class="text-sm sm:text-base placeholder-gray-500 pl-2 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" />
        </div>
      </div>
      <div class="flex flex-row wrap gap-[50px] mt-2">
        <div class="flex flex-col ">
          <label>Telefone</label>
          <input
            formControlName="telefone"
            class="text-sm sm:text-base placeholder-gray-500 pl-2 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" />
        </div>
        <div class="flex flex-col">
          <label>Senha</label>
          <input
            type="password"
            formControlName="password"
            class="text-sm sm:text-base placeholder-gray-500 pl-2 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" />
        </div>
      </div>

      <button type="submit"
        class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-black rounded py-4 w-full transition duration-150 ease-in w-[80%] mt-[20px]">
        <span class="mr-2 uppercase">Criar Conta</span>
        <span>
          <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            viewBox="0 0 24 24" stroke="currentColor">
            <path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </span>
      </button>
    </form>
  </div>

  <div class="flex flex-col flex-1">
    <div>
      <input type="file" (change)="selectFile($event)" />
    </div>
    @if (currentFile) {
    <div>
      <img [src]="preview" width="100" height="100" />
    </div>
    }
  </div>
</div>
